{# app/Resources/views/default/newProduct.html.twig #}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

{% stylesheets '@jquery_ui_css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

<div class="page-header text-center">
  <h1>Add a new product <small>SwapApp</small></h1>
</div>

<div class="row">
  <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4"></div>
  <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">        
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
  </div>
  <!-- Optional: clear the XS cols if their content doesn't match in height -->
  <div class="clearfix visible-xs-block"></div>
  <div class="col-xs-1 col-sm-2 col-md-3 col-lg-4"></div>
</div>




{% block javascripts %}
{% javascripts 
    '@jquery_and_ui' 
    'js/Product/product_new.js'
%}
    <script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
