{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_product_index' %}

{% block main %}
    <h1>
        {#{{ 'title.product_list'|trans }}#}Products List
    </h1>

    {% for product in products %}
        <article class="product">
            <h2>
                <a href="{{ path('admin_product_show', { id: product.id }) }}">
                    {{ product.name }}
                </a>
            </h2>

            {{ product.description|md2html }}
{#            <div class="item-actions">
                {% if product.isOwner(app.user) %}
                    <a href="{{ path('admin_product_edit', { id: product.id }) }}" class="btn btn-sm btn-primary">
                        <i class="fa fa-edit"></i> {{ 'action.edit'|trans }}Edit
                    </a>
                {% endif %}
            </div>#}
        </article>
    {% else %}
        <div class="well">{#{{ 'post.no_posts_found'|trans }}#}No products found</div>
    {% endfor %}

    <div class="navigation text-center">
        {{ pagerfanta(products, 'twitter_bootstrap3', { routeName: 'blog_index_paginated' }) }}
    </div>
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_product_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus"></i> {#{{ 'action.create_product'|trans }}#}Create Product
        </a>
    </div>

    {{ parent() }}

 {#   {{ show_source_code(_self) }}#}
{% endblock %}
