{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_product_show' %}

{% block main %}
    <h1>{{ product.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>
                    {#{{ 'label.summary'|trans }}#}Description
                </th>
                <td>{{ product.description|md2html }}</td>
            </tr>
            <tr>
                <td>
                    <a href="{{ path('admin_product_edit', { id: product.id }) }}" class="btn btn-sm btn-primary">
                        <i class="fa fa-edit"></i>Edit
                    </a>
                </td>
                <td></td>
            </tr>
 {#           <tr>
                <th>{{ 'label.content'|trans }}</th>
                <td>{{ product.content|md2html }}</td>
            </tr>#}
{#            <tr>
                <th>{{ 'label.author'|trans }}</th>
                <td><p>{{ product.authorEmail }}</p></td>
            </tr>#}
{#            <tr>
                <th>{{ 'label.published_at'|trans }}</th>
                <td><p>{{ product.publishedAt|localizeddate('long', 'medium') }}</p></td>
            </tr>#}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_product_edit', { id: product.id }) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit"></i> {{ 'action.edit_contents'|trans }}
        </a>
    </div>

{#    <div class="section">
        {{ include('admin/blog/_form.html.twig', {
            form: delete_form,
            button_label: 'action.delete_product'|trans,
            button_css: 'btn btn-lg btn-block btn-danger',
            show_confirmation: true,
        }, with_context = false) }}
    </div>#}

    {#{{ show_source_code(_self) }}#}
{% endblock %}
